@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

.text-light-gray{
    color: #727272;
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 20px 25px;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-text {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 20px;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
}

/* Banner Container */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* Main Style */
main {
  max-width: 1440px;
  margin: 70px auto;
}

.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 100px;
  gap: 10px;
}

.teams-content {
  margin-left: 70px;
}

.teams-description {
  color: var(--Dark-03, #727272);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

/* For Responsive  */

/* Small Device */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  nav, .teams-container {
    flex-direction: column;
  }


  .teams-img-content{
    grid-template-columns: 1fr;
  }

}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 970px) {
  header {
    padding: 50px;
  }

  nav, .teams-container{
    flex-direction: column;
  }
}
